### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [2]:
no_duplicate_names_df = purchase_data_df.drop_duplicates(subset=['SN'])

player_total_df = len(no_duplicate_names_df['SN'].value_counts())
print(f"Total Players: {player_total_df}")

Total Players: 576

In [3]:
# Rename the columns to this
# Columns = ["Number of Unique Items","Average Price", "Number of Purchases", "Total Revenue"]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = len(purchase_data_df["Item Name"].unique())
# print(unique_items)
average_price = purchase_data_df ['Price'].mean()
purchases_count = len(purchase_data_df["Price"])
# print(purchases_count)

total_revenue = purchase_data_df ['Price'].sum()

# create a df for Purchasing Analysis
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [purchases_count], "Total Revenue": [total_revenue]})
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# this is responding, so it is still reading the no_duplicate_names from an above line
# no_duplicate_names_df
gender_count = no_duplicate_names_df['Gender'].value_counts(0)
gender_percent = no_duplicate_names_df['Gender'].value_counts(1)

#gender_demographics_df = pd.DataFrame({"Total Count": [gender_count], "Percentage of Players": [gender_percent]})

gender_count_df = pd.DataFrame(gender_count)
gender_percent_df = pd.DataFrame(gender_percent)

# need to merge the two data frames
gender_demographics_df = gender_count_df.merge(gender_percent_df, left_index = True, right_index = True)
# name the headers for the columns
gender_demographics_df.columns = ["Total Count", "Percentage of Players"]
# format column as percentage using .map()
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2%}".format)
gender_demographics_df.head()


# columns = ["Total Count", "Percentage of Players"]
# gender_counts_df = no_duplicate_names_df.loc[[]]

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# use purchase_data_df for these calculations, not the duplicates one

##so according to this system, you cannot use a formula for count of gender becuase Gender is being used as the index.
#gender_index = purchase_data_df


# you want to group it first. Do not use the index function
    
grouped_purchase_data_df = purchase_data_df.groupby('Gender')

purchase_count = grouped_purchase_data_df["Purchase ID"].count()
average_purchase_price = grouped_purchase_data_df["Price"].mean()
total_purchase_value = grouped_purchase_data_df["Price"].sum()
purchase_value_per_person = (total_purchase_value / gender_count)

# pd.options.display.float_format = '${}'
summary_df = pd.DataFrame([purchase_count, average_purchase_price, total_purchase_value, purchase_value_per_person])
summary2_df = summary_df.T
summary2_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]
summary2_df.head()

## Need to format the table
                          
# purchase_count, average_purchase_price, total_purchase_value, purchase_value_per_person])
# summary_df.columns = [
# summary_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113.0,3.203009,361.94,4.468395
Male,652.0,3.017853,1967.64,4.065372
Other / Non-Disclosed,15.0,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# set the bins
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,100]
# create names for each bin
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34", "35-39","40+"]

no_duplicate_names_df['Player_Ages'] = pd.cut(no_duplicate_names_df["Age"], bins, labels = group_names)
no_duplicate_names_df

age_total = no_duplicate_names_df['Player_Ages'].value_counts().sort_index()
age_percentage = age_total/ player_total_df * 100


age_demographics = pd.DataFrame({"Total Count": age_total, "Percentage of Players": age_percentage})
age_demographics = age_demographics.sort_index()
age_demographics




#purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [purchases_count], "Total Revenue": [total_revenue]})





#print(age_demographics["Age"].count())

C:\Users\Scott Proveucher\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# set the bins
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,100]
# create names for each bin
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34", "35-39","40+"]
#use cut to categorize players
no_duplicate_names_df['Player_Ages'] = pd.cut(no_duplicate_names_df["Age"], bins, labels = group_names)
no_duplicate_names_df

# calculate count
age_purchase_count = pd.DataFrame(no_duplicate_names_df.groupby('Player_Ages')["SN"].count())
# calculate avg purchase price
age_average_purchase_price = pd.DataFrame(no_duplicate_names_df.groupby('Player_Ages')["Price"].mean())
#calculate total purchase value
age_total_purchase_value = pd.DataFrame(no_duplicate_names_df.groupby('Player_Ages')["Price"].sum())
# calculate avg total purchase per person
# age_purchase_value_per_person = 


purchasing_analysis_age_df = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": age_average_purchase_price, "Total Purchase Value": age_total_purchase_value}, index=[0])
#purchasing_analysis_age2_df = purchasing_analysis_age_df.set_index("Age")
#purchasing_analysis_age2_df.head()
#purchasing_analysis_age_df.index.rename("Age", inplace = True)

purchasing_analysis_age_df.head()
# average_purchase_price = grouped_purchase_data_df["Price"].mean()
# total_purchase_value = grouped_purchase_data_df["Price"].sum()
# purchase_value_per_person = (total_purchase_value / gender_count)


# merge-age = pd.merge(purchase_count)

# use the index function

C:\Users\Scott Proveucher\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Purchase Count Average Purchase Price Total Purchase Value
0         (S, N)        (P, r, i, c, e)      (P, r, i, c, e)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
user_total = purchase_data_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Amount")
user_average = purchase_data_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data_df.groupby(["SN"]).count()["Price"].rename("Purchase Count")

top_spenders_df = pd.DataFrame({"Purchase Count": user_count, "Average Purchase Price": user_average,"Total Purchase Amount": user_total})

# use float and formatting to convert the last to columns to $
pd.options.display.float_format = '${:.2f}'.format

# use sort and ascending=False to present data in descending order
top_spenders_df.sort_values("Total Purchase Amount", ascending=False).head(5)


# use groupby "SN"

#goes back to purchase_date

#.sort.values by desending order

             Purchase Count  Average Purchase Price  Total Purchase Amount
SN
Lisosia93                 5                   $3.79                 $18.96
Idastidru52               4                   $3.86                 $15.45
Chamjask73                3                   $4.61                 $13.83
Iral74                    4                   $3.40                 $13.62
Iskadarya95               3                   $4.37                 $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame